<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Bank Name</th>
      <th>Account Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let index = 0; index < data.length; index++) { %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= data[index].name %>
        </td>
        <td>
          <%= data[index].bankName %>
        </td>
        <td>
          <%= data[index].accountNumber %>
        </td>
        <td>
          <form action="/bank/delete/<%= data[index]._id %>?_method=DELETE" method="post">
            <a href="/bank/update/<%= data[index]._id %>" class="btn btn-info btn-sm">
              <i class="fas fa-pencil-alt"></i>
              Update
            </a>
            <button class="btn btn-danger btn-sm" type="submit">
              <i class="fas fa-trash"></i>
              Delete
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>